@primary-color: #007bff;
@primary-color-hover: #0056b3;
@primary-color-active: #004b9b;
@primary-color-text: #ffffff;
@secondary-color: #f0f0f0;
@secondary-color-hover: #a5afb8;
@secondary-color-active: #545b62;
@secondary-color-text: #121212;

@card-bg-color: #ffffff;
@card-border-color: #e9ecef;
@card-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
@card-radius: 0.5rem;
@card-padding: 1.5rem;

@input-label-color: #707485;
@input-focus-border-color: @primary-color-active;
@input-focus-box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);

@header-bg-color: @card-bg-color;
@header-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

@dropdown-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
